{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="edutim, coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training">

  <meta name="author" content="themeturn.com">

  <title>GeorgeAcademy</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
<!-- Iconfont Css -->
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
<!-- animate.css -->
<link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
<!-- WooCommerce CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body id="top-header">

<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-contact">
                        <li>
                            <span>Call :</span>
                           +254725717270
                        </li>
                        <li>
                            <span>Email :</span>
                            georgerubinga@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right float-right">
                        <div class="header-socials">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-btn">
                            <a href="#" class="btn btn-main btn-small"><i class="fa fa-user mr-2"></i>Login / Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <!-- Main Menu Start -->
   
    <div class="site-navigation main_menu " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand">
                    
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'home' %}">
                    Home
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'course_grid' %}">
                   Our Main Courses
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'product_list' %}">
                    Shop List Filter
                </a>
                <a class="dropdown-item" href="{% url 'cart' %}">
                    Cart
                </a> 
                <a class="dropdown-item" href="{% url 'checkout' %}">
                    Checkout
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'login' %}">
                    Login
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'blog_single' %}">
                    Blog
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                Contact
            </a>
        </li>
    </ul>

    <ul class="header-contact-right d-none d-lg-block">
        <li><a href="#" class="header-cart"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a href="#" class="header-search search_toggle"><i class="fa fa-search"></i></a></li>
    </ul>
</div>

            </div> <!-- / .container -->
        </nav>
    </div>
</header>

        

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
        <form action="" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <h3>Search Your keyword</h3>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <img class="search-close" src="{% static 'assets/images/close.png' %}" srcset="assets/images/close@2x.png 2x" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->


<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="page-header-content">
            <h1>Who we are</h1>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                  About Us
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section section-padding about-2">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6 col-md-12">
               <div class="about-img2">
                   <img src="{% static 'assets/images/bg/choose1.png' %}" alt="" class="img-fluid">
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Top Categories</span>
                    <h3>Our Mission/Vission</h3>
                </div>

                <p>Our mission is to provide learners with practical STEM tools, coding resources, robotics challenges, and engineering projects. We believe that learning by doing fosters creativity and a deep understanding of scientific principles. We envision a world where every student has access to quality STEM education that prepares them for the technological and engineering challenges of tomorrow. Our goal is to nurture future innovators who will solve real-world problems using the knowledge and skills they gain through our platform.</p>

                <a href="#" class="btn btn-main"><i class="fa fa-check mr-2"></i>Learn More</a>
                
            </div>
        </div>
    </div>
</section>

<section class="counter-wrap pb-100">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-desktop"></i>
                            <div class="count">
                                <span class="counter h2">90</span>
                            </div>
                            <p>Expert Instructors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-agenda"></i>
                            <div class="count">
                                <span class="counter h2">1450</span>
                            </div>
                            <p>Total Courses</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">         
                        <div class="counter-item">
                            <i class="ti-heart"></i>
                            <div class="count">
                                <span class="counter h2">5697</span>
                            </div>
                            <p>Happy Students</p>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-microphone-alt"></i>
                            <div class="count">
                                <span class="counter h2">24</span>
                            </div>
                            <p>Creative Events</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section section-padding pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Top Categories</span>
                    <h3>What we offer</h3>
                </div>

                <div class="about-content">
                    <div class="about-text-block">
                        <i class="bi bi-film"></i>
                        <h4>Hands-on STEM Projects</h4>
                        <p>From beginner-level experiments to advanced robotics and AI design tasks, our platform offers a range of educational resources.</p>
                    </div>

                     <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Engineering Design</h4>
                        <p>Engage in real-world design challenges that help students develop engineering mindsets.</p>
                    </div>

                    <a href="{% url 'blog_single' %}" class="btn btn-main-2"><i class="fa fa-check mr-2"></i>More About Us</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="{% static 'assets/images/bg/2-2.png' %}" alt="" class="img-fluid">
                </div>
             </div>
        </div>
    </div>
</section>

<section class="cta-2 clients ">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading center-heading">
                    <span class="subheading">Working Partners</span>
                    <h3>Our valuable Partners</h3>
                </div>
            </div>
        </div>

        <div class="row cta-2-inner">
            <div class="col-lg-2 col-sm-6 ">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo1.png' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-2 col-sm-6">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo2.png' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-2 col-sm-6">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo3.png' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-2 col-sm-6">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo4.png' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-2 col-sm-6">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo5.png' %}" alt="" class="img-fluid">
                </div>
            </div>
             <div class="col-lg-2 col-sm-6">
                <div class="client-logo">
                    <img src="{% static 'assets/images/clients/logo6.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading text-center">
                    <span class="subheading">Testimonials</span>
                    <h3>Learn New Skills to Go Ahead for Your Career</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonials-slides owl-carousel owl-theme">
                    <div class="review-item">
                        <div class="client-info">
                            <i class="bi bi-quote"></i>
                            <p>Learn how to build and program robots to perform tasks. This course focuses on hands-on projects, from basic movements to advanced autonomous robots.</p>
                             <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Dennis</h4>
                                <span class="designation">Robotics Engineer</span>
                            </div>
                        </div>
                    </div>

                     <div class="review-item">
                        <div class="client-info">
                            <i class="bi bi-quote"></i>
                            <p>A beginner-friendly course that introduces kids to coding through fun games and challenges. This course aims to foster logical thinking and creativity.</p>
                             <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Justin</h4>
                                <span class="designation">Web Developer</span>
                            </div>
                        </div>
                    </div>


                    <div class="review-item">
                        <div class="client-info">
                            <i class="bi bi-quote"></i>
                            <p>Learn the fundamentals of 3D printing and how to design engineering prototypes. Perfect for aspiring engineers and product designers.</p>
                             <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-4.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Cynthia</h4>
                                <span class="designation">Mechanical Engineer</span>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-2">
    <div class="container">
        <div class="row align-items-center subscribe-section ">
            <div class="col-lg-6">
                <div class="section-heading white-text">
                    <span class="subheading">Newsletter</span>
                    <h3>Join our community of students</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <a href="#" class="btn btn-main">Subscribe<i class="fa fa-angle-right ml-2"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">About Us</h5>
					<p class="mt-3">At GeorgeAcademy, we are passionate about transforming education by promoting hands-on STEM (Science, Technology, Engineering, and Mathematics) learning. Our platform is designed to encourage students and educators alike to explore and innovate, building the critical thinking and problem-solving skills required to excel in the 21st century.</p>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Company</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="{% url 'about' %}">About us</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
						<li><a href="{% url 'course_grid' %}">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">Advanced coding</a></li>
						<li><a href="#">Robotics</a></li>
						<li><a href="#">AI and Machine learing</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">3D Modelling</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="footer-widget footer-contact mb-5 mb-lg-0">
					<h5 class="widget-title">Contact </h5>
					
					<ul class="list-unstyled">
						<li><i class="bi bi-headphone"></i>
							<div>
								<strong>Phone number</strong>
								(+254) 725717270
							</div>
							
						</li>
						<li> <i class="bi bi-envelop"></i>
							<div>
								<strong>Email Address</strong>
								georgerubinga@gmail.com
							</div>
						</li>
						<li><i class="bi bi-location-pointer"></i>
							<div>
								<strong>Office Address</strong>
								Nairobi, Kenya
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6">
					<div class="footer-logo">
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-center">
						<p>@ Copyright reserved to GeorgeAcademy.Proudly Crafted by GeorgeDesigns</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.5 -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
    <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>
    <!--  Owlk Carousel-->
    <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>


  </body>
  </html>