{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="edutim, coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training">

  <meta name="author" content="themeturn.com">

  <title>GeorgeAcademy</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
<!-- Iconfont Css -->
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
<!-- animate.css -->
<link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
<!-- WooCommerce CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body id="top-header">
  

    
<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-contact">
                        <li>
                            <span>Call :</span>
                           +254725717270
                        </li>
                        <li>
                            <span>Email :</span>
                            georgerubinga@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right float-right">
                        <div class="header-socials">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-btn">
                            <a href="#" class="btn btn-main btn-small"><i class="fa fa-user mr-2"></i>Login / Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <!-- Main Menu Start -->
   
    <div class="site-navigation main_menu " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand"></a>
                    
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'home' %}">
                    Home
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'course_grid' %}">
                   Our Main Courses
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'product_list' %}">
                    Shop List Filter
                </a>
                <a class="dropdown-item" href="{% url 'cart' %}">
                    Cart
                </a> 
                <a class="dropdown-item" href="{% url 'checkout' %}">
                    Checkout
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'login' %}">
                    Login
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'blog_single' %}">
                    Blog
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                Contact
            </a>
        </li>
    </ul>

    <ul class="header-contact-right d-none d-lg-block">
        <li><a href="{% url 'product_list' %}" class="header-cart"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a href="#" class="header-search search_toggle"><i class="fa fa-search"></i></a></li>
    </ul>
</div>

            </div> <!-- / .container -->
        </nav>
    </div>
</header>

        

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
        <form action="" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <h3>Search Your keyword</h3>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <img class="search-close" src="{% static 'assets/images/close.png' %}" srcset="assets/images/close@2x.png 2x" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->


<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="page-header-content">
            <h1>Communicate with GeorgeAcademy! Supporters/Teams/Students..</h1>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                  Our Blogs
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>

		
<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
        		<div class="post-single">
    <div class="post-thumb">
        <img src="{% static 'assets/images/blog/news-1.png' %}" alt="" class="img-fluid">
    </div>

   <div class="single-post-content">
        <div class="post-meta mt-4">
            <span class="post-date"><i class="fa fa-calendar-alt mr-2"></i>May 23, 2023</span>
            <span class="post-comment"><i class="fa fa-comments mr-2"></i>1366 Comments</span>
            <span><a href="#" class="post-author"><i class="fa fa-user mr-2"></i>Admin</a></span>
        </div>

        <p class="mt-4 "> Exploring the best STEM projects for students, including building robotics, developing simple apps, constructing solar panel systems, and more. We provide project ideas, required materials, and step-by-step guides to get started.</p>
    
        <h4>Introducing young people to coding with fun tools</h4>
        <p> Introducing young people to programming using fun, interactive tools like Scratch, Blockly, and Makey Makey. These tools offer visual programming environments and hands-on projects, making it easier for young people to learn coding fundamentals...
</p>
        
        <blockquote>
           Our STEM education is all about doing - Hands-On Learning is the Future
            <cite>- GeorgeAcademy</cite>
        </blockquote>

        <div class="row mt-5 mb-4">
            <div class="col-lg-4">
                <img src="{% static 'assets/images/blog/about-img2.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'assets/images/blog/about-img3.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <h4>Final Delivery</h4>
                <p>With hands-on learning in STEM (Science, Technology, Engineering, and Mathematics), students engage in practical, real-world applications.</p>
            </div>
        </div>

        <h4>Hands-On STEM Education</h4>
        <p>Some key tools for STEM learning include robotics kits, coding platforms, and physics experiment sets. These tools offer students a chance to actively engage with STEM concepts, making education more interactive and effective. Whether you're building robots or creating circuits, these resources offer endless possibilities for innovation and learning.</p>
   </div>

    <div class="single-tags">
        <a href="#">#Robotics</a>
        <a href="#">#Coding</a>
        <a href="#">#AI and Machine learning</a>
    </div>


    <div class="row align-items-center justify-content-between blog-navigation">
        <div class="col-lg-6 border-right">
            <a href="#" class="prev-post">
                <span>- Previous Posts</span>
                Top 10 STEM Projects for Students

            </a>
        </div>
        <div class="col-lg-6">
            <a href="#" class="next-post">
                <span>- Next post</span>
                Technology In Education

            </a>
        </div>
    </div>

    <div class="author">
        <div class="author-img">
            <img src="{% static 'assets/images/blog/author2.png' %}" alt="" class="img-fluid">
        </div>
        <div class="author-info">
            <h4>Dennis Githinji</h4>
            <p>Web Developer</p>
            <p>STEM education has truly changed the way I approach problem-solving. The hands-on activities mentioned here are exactly what students need to understand complex concepts in a simple and practical way. This blog post gave me great insight into how I can integrate more coding projects into my classroom!</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
    

     <div class="comments">
        <h3 class="commment-title">1843 Comments(1843)</h3>

        <div class="media">
            <img src="{% static 'assets/images/course/course-2.jpg' %}" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Tedd Nganga <span>17 Feb 2024</span>  <a class="reply-link" href="#"><i class="fas fa-reply-all"></i>Reply</a></h5>
                I totally agree, Dennis! Integrating coding projects has really helped my students grasp the logic behind programming. It's amazing how hands-on projects can make such a difference!

            
                <div class="media">
                    <a class="mr-3" href="#">
                        <img src="{% static 'assets/images/blog/user.jpg' %}" class="mr-3" alt="...">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">George Klaus <span>17 Feb 2024</span>  <a class="reply-link" href="#"><i class="fas fa-reply-all"></i>Reply</a></h5>
                        Couldn't have said it better, Dennis. The practical approach to STEM education is the way forward. I've seen tremendous improvement in my students' critical thinking skills after introducing robotics into our lessons.
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="media">
            <img src="{% static 'assets/images/blog/post-thumb-3.jpg' %}" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Alan Muturu <span>17 Feb 2024</span> <a class="reply-link" href="#"><i class="fas fa-reply-all"></i>Reply</a></h5>
                So true, Dennis! The tools mentioned in the post are perfect for making STEM concepts easy to digest. I just ordered an Arduino kit for my class, and I can't wait to see what my students create!
            </div>
        </div>
    </div>



    <div class="comments-form p-5 mt-4">
        <h3>Leave a comment </h3>
        <p>Your email address will not be published. Required fields are marked *</p>
        <form action="#" class="comment_form">
            <div class="row form-row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea name="msg" id="msgt" cols="30" rows="6" placeholder="Comment" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Website">
                    </div>
                </div> 
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group"> 
                        <input type="text" class="form-control"  placeholder="Email">
                    </div>
                </div>
                 <div class="col-lg-12">
                    <div class="form-group">
                        <a href="#" class="btn btn-main">Comment</a>
                    </div>
                </div>
            </div>
        </form>
    </div>    

</div>
      		</div>
      		<div class="col-md-4">
				<div class="blog-sidebar mt-5 mt-lg-0 mt-md-0">
    <div class="widget widget_search">
        <h4 class="widget-title">Search</h4>
        <form role="search" class="search-form">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

     <div class="widget widget_news">
        <h4 class="widget-title">Latest Posts</h4>
        <ul class="recent-posts">
            <li>
                <div class="widget-post-thumb">
                    <a href="#"><img src="{% static 'assets/images/blog/post-thumb-4.png' %}" alt="" class="img-fluid"></a>
                </div>
                <div class="widget-post-body">
                    <span>27th May 2024</span>
                    <h6> <a href="https://search.brave.com/search?q=What%20are%20the%20most%20effective%20assessments%20and%20evaluations%20to%20measure%20critical%20thinking%20skills%20in%20STEM%20students%3F&summary=%7B%22query%22%3A%22enhancing%20critical%20thinking%20with%20STEM%22%2C%22country%22%3A%22us%22%2C%22language%22%3A%22en%22%2C%22safesearch%22%3A%22moderate%22%2C%22results_hash%22%3A%228245f2a732f64a7e59e9c345a3a309c69d61cd55f65d661851d9eebf6223844f%22%7D&source=llmFollowup" target="_blank" rel="noopener noreferrer">Enhancing Critical Thinking with STEM Challenges</a></h6>
                </div>
            </li>
            <li>
                <div class="widget-post-thumb">
                    <a href="https://search.brave.com/search?q=5+Innovative+projects+for+classroom&source=desktop&summary=1&summary_og=86185f6df0c9387698a116" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'assets/images/blog/post-thumb-5.png' %}" alt="" class="img-fluid"></a>
                </div>
                <div class="widget-post-body">
                    <span>5th June 2024</span>
                    <h6> <a href="#">5 Innovative STEM Projects for the Classroom</a></h6>
                </div>
            </li>
           
        </ul>
    </div>


    <div class="widget widget_categories">
        <h4 class="widget-title">Categories</h4>
        <ul>
          <li class="cat-item"><a href="{% url 'course_grid' %}"><i class="fa fa-angle-right"></i>Robotics</a>(14)</li>
          <li class="cat-item"><a href="{% url 'course_grid' %}"><i class="fa fa-angle-right"></i>Coding</a>(6)</li>
          <li class="cat-item"><a href="{% url 'course_grid' %}"><i class="fa fa-angle-right"></i>Engineering Design</a>(4)</li>
          <li class="cat-item"><a href="{% url 'course_grid' %}"><i class="fa fa-angle-right"></i>3D Modelling</a>(3)</li>
        </ul>
    </div>

    <div class="widget widget_tag_cloud">
        <h4 class="widget-title">Tags</h4>
        <a href="{% url 'course_grid' %}">Robotics</a>
        <a href="{% url 'course_grid' %}">Development</a>
        <a href="{% url 'course_grid' %}">Engineering</a>
        <a href="{% url 'course_grid' %}">Mathematics</a>
        <a href="{% url 'course_grid' %}">Technology</a>
        <a href="{% url 'course_grid' %}">Physics</a>
        <a href="{% url 'course_grid' %}">Electronics</a>
        <a href="{% url 'course_grid' %}">Science</a>
        <a href="{% url 'course_grid' %}">Artificial Intelligence</a>
        <a href="{% url 'course_grid' %}">Innovation</a>
        <a href="{% url 'course_grid' %}">DIY Projects</a>
        <a href="{% url 'course_grid' %}">3D Printing</a>
    </div>

</div>
      		</div>
		</div>
	</div>
</div>


<section class="cta-2">
    <div class="container">
        <div class="row align-items-center subscribe-section ">
            <div class="col-lg-6">
                <div class="section-heading white-text">
                    <span class="subheading">Newsletter</span>
                    <h3>Join our community of students</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <a href="#" class="btn btn-main">Subscribe<i class="fa fa-angle-right ml-2"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">About Us</h5>
					<p class="mt-3">GeorgeAcademy is dedicated to inspiring students through innovative STEM (Science, Technology, Engineering, and Mathematics) education. We provide hands-on projects, coding challenges, and engineering design tasks that promote problem-solving, creativity, and critical thinking. Join us as we build the future of learning.</p>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Company</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="{% url 'about' %}">About us</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
						<li><a href="{% url 'course_grid' %}">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">Advanced Coding</a></li>
						<li><a href="#">AI and Machine learning</a></li>
						<li><a href="#">Robotics</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">3D Modelling</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="footer-widget footer-contact mb-5 mb-lg-0">
					<h5 class="widget-title">Contact </h5>
					
					<ul class="list-unstyled">
						<li><i class="bi bi-headphone"></i>
							<div>
								<strong>Phone number</strong>
								(+254) 725717270
							</div>
							
						</li>
						<li> <i class="bi bi-envelop"></i>
							<div>
								<strong>Email Address</strong>
								georgerubinga@gmail.com
							</div>
						</li>
						<li><i class="bi bi-location-pointer"></i>
							<div>
								<strong>Office Address</strong>
								Nairobi, Kenya
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6">
					<div class="footer-logo">
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-center">
						<p>@ Copyright reserved to GeorgeAcademy.Proudly Crafted by GeorgeDesigns</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.5 -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
    <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>
    <!--  Owlk Carousel-->
    <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

  </body>
  </html>