{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="GeorgeAcademy, coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training">
 
  <meta name="author" content="themeturn.com">

  <title>GeorgeAcademy - Education LMS</title>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
<!-- Iconfont Css -->
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
<!-- animate.css -->
<link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
<!-- WooCommerce CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body id="top-header">

  

    
<header>
    <!-- Main Menu Start -->
   
    <div class="site-navigation main_menu nav-tp" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                
                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

               <!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'home' %}">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'course_grid' %}">
                    Our Main Courses
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'product_list' %}">
                    Shop List Filter
                </a>
                <a class="dropdown-item" href="{% url 'cart' %}">
                    Cart
                </a>
                <a class="dropdown-item" href="{% url 'checkout' %}">
                    Checkout
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'login' %}">
                    Login
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'blog_single' %}">
                    Blog
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                Contact
            </a>
        </li>
    </ul>

    <a href="{% url 'login' %}" class="btn btn-main btn-small"><i class="fa fa-sign-in-alt mr-2"></i>Login</a>
</div> <!-- / .navbar-collapse -->

            </div> <!-- / .container -->
        </nav>
    </div>
</header>

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
        <form action="" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <h3>Search Your keyword</h3>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <img class="search-close" src="{% static 'assets/images/close.png' %}" srcset="{% static 'assets/images/close@2x.png 2x' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->

<section class="banner-left banner-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 col-xl-7">
                <div class="banner-content">
                    <span class="subheading">Expert instruction</span>
                    <h1>Welcome To GeorgeAcademy! School of Technology</h1>
                    <div class="form-banner">
                        <form action="" class="form-search-banner">
                            <input type="text" class="form-control" placeholder="What do you want to learn?">
                            <a href="#" class="btn btn-main">Search<i class="fa fa-search ml-2"></i> </a>
                        </form>
                    </div>
                    <div class="banner-cat">
                        <span>category : </span>
                        <span>Robotics</span>
                        <span>Web design</span>
                        <span>Coding</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5">
                <div class="banner-img3">
                    <div class="img-block">
                        <img src="{% static 'assets/images/banner/banner-img3.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<section class="section-padding popular-course-list2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading center-heading">
                    <span class="subheading">Trending Courses</span>
                    <h3>Our Popular Online Courses</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="course-block course-list-item">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="course-img">
                                <img src="{% static 'assets/images/course/course-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="course-content">
                                <div class="course-price ">Ksh 11500/=</div>   
                                
                                <h4><a href="#">Introduction to Robotics</a></h4>    
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <span>(5.00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-6 col-md-6">
                <div class="course-block course-list-item">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="course-img">
                                <img src="{% static 'assets/images/course/course-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="course-content">
                                <div class="course-price ">Ksh 16000/=<span class="del">Ksh 19500/=</span></div>   
                                
                                <h4><a href="#">Engineering Design</a></h4>    
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <span>(5.00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-6 col-md-6">
                <div class="course-block course-list-item">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="course-img">
                                <img src="{% static 'assets/images/course/course-3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="course-content">
                                <div class="course-price ">Ksh 17500/= <span class="del">Ksh 21000/=</span></div>   
                                
                                <h4><a href="#">Web Development for Young Innovators</a></h4>    
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <span>(5.00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          

           <div class="col-lg-6 col-md-6">
                <div class="course-block course-list-item">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="course-img">
                                <img src="{% static 'assets/images/course/course-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="course-content">
                                <div class="course-price ">Ksh 12500/= <span class="del">Ksh 15500/=</span></div>   
                                
                                <h4><a href="#">3D Modeling and Printing for Beginners</a></h4>    
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <span>(5.00)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="category-section3">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading">
                    <span class="subheading">Top Categories</span>
                    <h3>Our Top Categories</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="course-categories">
                <div class="category-item category-bg-1">
                  <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-laptop"></i>
                    </div>
                    <h4>Web Development</h4>
                    <p>(4 Courses)</p>
                  </a>
                </div>
                <div class="category-item category-bg-2">
                    <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-layer"></i>
                        </div>
                        <h4>Data Science</h4>
                        <p>(12 Courses)</p>
                    </a>
                </div>
                <div class="category-item category-bg-3">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-target-arrow"></i>
                    </div>
                    <h4>Introduction to AI and Machine Learning</h4>
                    <p>(6 Courses)</p>
                   </a>
                </div>

                <div class="category-item category-bg-4">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-rocket2"></i>
                    </div>
                    <h4>Robotics</h4>
                    <p>(6 Courses)</p>
                   </a>
                </div>
                <div class="category-item category-bg-5">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-shield"></i>
                    </div>
                    <h4>Advanced Design</h4>
                    <p>(12 Courses)</p>
                   </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section section-padding">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6 col-md-12">
               <div class="about-img">
                   <img src="{% static 'assets/images/bg/2-2.png' %}" alt="" class="img-fluid">
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Top Categories</span>
                    <h3>Explore STEM Learning and Innovation</h3>
                </div>

                <div class="about-content">
                    <div class="about-text-block">
                        <i class="bi bi-film"></i>
                        <h4>Hands-On Robotics Projects</h4>
                        <p>Gain practical experience in robotics by building and programming your own robots. Perfect for fostering creativity and engineering skills.</p>
                    </div>

                     <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Coding for the Future</h4>
                        <p>Learn coding languages such as Python and JavaScript, essential tools for future engineers and developers.</p>
                    </div>

                    <a href="#" class="btn btn-main-2"><i class="fa fa-check mr-2"></i>Discover Our Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter-wrap pb-100">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-desktop"></i>
                            <div class="count">
                                <span class="counter h2">90</span>
                            </div>
                            <p>Expert Instructors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-agenda"></i>
                            <div class="count">
                                <span class="counter h2">1450</span>
                            </div>
                            <p>Total Courses</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">         
                        <div class="counter-item">
                            <i class="ti-heart"></i>
                            <div class="count">
                                <span class="counter h2">5697</span>
                            </div>
                            <p>Happy Students</p>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <i class="ti-microphone-alt"></i>
                            <div class="count">
                                <span class="counter h2">24</span>
                            </div>
                            <p>Creative Events</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding course-grid-2 bg-feature">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <span class="subheading">Top Trending Courses</span>
                    <h3>Over 200+ New Online Courses</h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="course-btn text-lg-right"><a href="{% url 'course_grid' %}" class="btn btn-main"><i class="fa fa-store mr-2"></i>All Courses</a></div>
            </div>
        </div>

        <ul class="course-filter">
            <li class="active"><a href="#" data-filter="*"> All</a></li>
            <li><a href="#" data-filter=".cat1">Robotics</a></li>
            <li><a href="#" data-filter=".cat2">Web</a></li>
            <li><a href="#" data-filter=".cat3">Coding</a></li>
            <li><a href="#" data-filter=".cat4">media</a></li>
            <li><a href="#" data-filter=".cat5">Science</a></li>
        </ul>

        <div class="row course-gallery ">
            <div class="course-item cat1 cat3 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course1.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">14k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">Robotics Programming with Arduino</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>87 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>16 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="course-item cat2 cat4 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course2.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">11k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">Advanced Photography Course</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>108 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>13 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>
            
            <div class="course-item cat5 cat2 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course3.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">13k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">Advanced Web Development</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>73 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>15 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>

             <div class="course-item cat1 cat3 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course4.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">17k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">Advanced Robotics</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>55 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>8 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="course-item cat2 cat4 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course5.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">15k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">3D Modeling and Printing for Beginners</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>98 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>12 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>
            
            <div class="course-item cat5 cat2 col-lg-4 col-md-6">
                <div class="course-block style-5">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course2.jpg' %}" alt="" class="img-fluid">
                    </div>
                    
                    <div class="course-content">
                        <div class="course-price ">12k</div>   

                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <span>(5.00)</span>
                        </div>
                        <h4><a href="#">Advanced 3D Modeling</a></h4>    
                       
                        <div class="course-meta">
                            <span class="course-student"><i class="bi bi-group"></i>55 Students</span>
                            <span class="course-duration"><i class="bi bi-badge3"></i>7 Lessons</span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-3 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading text-center">
                    <span class="subheading">Testimonials</span>
                    <h3>Learn New Skills to Go Ahead for Your Career</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonials-slides-3 owl-carousel owl-theme">
                    <div class="review-item">
                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                        <div class="client-info">
                            <p>Robotics Design and Programming⭐⭐⭐⭐⭐..Learn how to build and program robots to perform tasks. This course focuses on hands-on projects, from basic movements to advanced autonomous robots.</p>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-4.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Cynthia Kendi</h4>
                                <span class="designation">Robotics Engineer</span>
                            </div>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                        <div class="client-info">
                            <p>A beginner-friendly course that introduces kids to coding through fun games and challenges. This course aims to foster logical thinking and creativity.</p>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Justin </h4>
                                <span class="designation">Software Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                        <div class="client-info">
                            <p>Learn the fundamentals of 3D printing and how to design engineering prototypes. Perfect for aspiring engineers and product designers.</p>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-5.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Claire Gitonga</h4>
                                <span class="designation">Mechanical Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                        <div class="client-info">
                            <p>Learn how to analyze and interpret data using Python and Excel. This course introduces the concepts of data science, data visualization, and machine learning.</p>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Dennis</h4>
                                <span class="designation">Data Scientist</span>
                            </div>
                        </div>
                    </div>

                    <div class="review-item">
                        <div class="rating">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div>
                        <div class="client-info">
                            <p>This course will introduce you to the exciting world of Artificial Intelligence and Machine Learning. Learn how to build basic AI models and understand real-world applications.</p>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{% static 'assets/images/clients/test-3.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>Issac</h4>
                                <span class="designation">AI Specialist</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-2">
    <div class="container">
        <div class="row align-items-center subscribe-section ">
            <div class="col-lg-6">
                <div class="section-heading white-text">
                    <span class="subheading">Newsletter</span>
                    <h3>Join our community of students</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <a href="#" class="btn btn-main">Subscribe<i class="fa fa-angle-right ml-2"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">About Us</h5>
					<p class="mt-3">GeorgeAcademy is dedicated to inspiring students through innovative STEM (Science, Technology, Engineering, and Mathematics) education. We provide hands-on projects, coding challenges, and engineering design tasks that promote problem-solving, creativity, and critical thinking. Join us as we build the future of learning.</p>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Company</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="{% url 'about' %}">About us</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
						<li><a href="{% url 'course_grid' %}">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">Advanced Coding</a></li>
						<li><a href="#">Robotics</a></li>
						<li><a href="#">AI and Machine learning</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">3D Modelling</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="footer-widget footer-contact mb-5 mb-lg-0">
					<h5 class="widget-title">Contact </h5>
					
					<ul class="list-unstyled">
						<li><i class="bi bi-headphone"></i>(+254) 725717270 </li>
						<li> <i class="bi bi-envelop"></i>georgerubinga@gmail.com</li>
						<li><i class="bi bi-location-pointer"></i>Nairobi, Kenya</li>
					</ul>

					<form action="#" class="form-subscribe">
						<input type="text" class="form-control" placeholder="Email Address">
						<button><i class="fa fa-angle-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6">
					<div class="footer-logo">
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-center">
						<p>@ Copyright reserved to GeorgeAcademy-.Proudly Crafted by GeorgeDesigns</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.5 -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
    <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>
    <!--  Owlk Carousel-->
    <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

  </body>
  </html>
   