{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="edutim, coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training">

  <meta name="author" content="themeturn.com">

  <title>GeorgeAcademy</title>
   <link rel="icon" href="{% static 'assets/images/icon.png' %}">

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
<!-- Iconfont Css -->
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
<!-- animate.css -->
<link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
<!-- WooCommerce CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body id="top-header">

<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-contact">
                        <li>
                            <span>Call :</span>
                           +254725717270
                        </li>
                        <li>
                            <span>Email :</span>
                            georgerubinga@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right float-right">
                        <div class="header-socials">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-btn">
                            <a href="#" class="btn btn-main btn-small"><i class="fa fa-user mr-2"></i>Login / Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <!-- Main Menu Start -->
   
    <div class="site-navigation main_menu " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand"></a>
                    
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'home' %}">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'course_grid' %}">
                    Our Main Courses
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'product_list' %}">
                    Shop List Filter
                </a>
                <a class="dropdown-item" href="{% url 'cart' %}">
                    Cart
                </a>
                <a class="dropdown-item" href="{% url 'checkout' %}">
                    Checkout
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'login' %}">
                    Login
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'blog_single' %}">
                    Blog
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                Contact
            </a>
        </li>
    </ul>

    <a href="{% url 'login' %}" class="btn btn-main btn-small"><i class="fa fa-sign-in-alt mr-2"></i>Login</a>
</div> <!-- / .navbar-collapse -->

            </div> <!-- / .container -->
        </nav>
    </div>
</header>

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
        <form action="" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <h3>Search Your keyword</h3>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <img class="search-close" src="{% static 'assets/images/close.png' %}" srcset="assets/images/close@2x.png 2x" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->


<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="page-header-content">
            <h1>Login</h1>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                  Login
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>



<main class="site-main page-wrapper woocommerce single single-product">
    <section class="space-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="woocommerce-notices-wrapper"></div>
                    <h2 class="font-weight-bold mb-4">Login</h2>
                    <form class="woocommerce-form woocommerce-form-login login" method="post">
                        {% csrf_token %}  <!-- CSRF token for login form -->
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">Username or email address&nbsp;<span class="required">*</span></label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="username" id="username" autocomplete="username" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password">Password&nbsp;<span class="required">*</span></label>
                            <input class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password" name="password" id="password" autocomplete="current-password">
                        </p>
                        <p class="form-row">
                            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="a414dce984">
                            <input type="hidden" name="_wp_http_referer" value="/my-account/">
                            <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">Log in</button>
                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                            </label>
                        </p>
                        <p class="woocommerce-LostPassword lost_password">
                            <a href="#">Lost your password?</a>
                        </p>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2 class="font-weight-bold mb-4">Register</h2>
                    <form method="post" class="woocommerce-form woocommerce-form-register register">
                        {% csrf_token %}  <!-- CSRF token for register form -->
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label>User Name&nbsp;<span class="required">*</span></label>
                            <input type="email" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="user-name" id="" autocomplete="user-name" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label>Email address&nbsp;<span class="required">*</span></label>
                            <input type="email" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="email" id="" autocomplete="email" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label>Password&nbsp;<span class="required">*</span></label>
                            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="password" id="" autocomplete="password" value="">
                        </p>
                        <p class="woocommerce-FormRow form-row">
                            <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="b1c661ab82">
                            <input type="hidden" name="_wp_http_referer" value="/my-account/">
                            <button type="submit" class="woocommerce-Button button" name="register" value="Register">Register</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--shop category end-->
</main>
 
<section class="cta-2">
    <div class="container">
        <div class="row align-items-center subscribe-section ">
            <div class="col-lg-6">
                <div class="section-heading white-text">
                    <span class="subheading">Newsletter</span>
                    <h3>Join our community of students</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <a href="#" class="btn btn-main">Subscribe<i class="fa fa-angle-right ml-2"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">About Us</h5>
					<p class="mt-3">GeorgeAcademy is dedicated to inspiring students through innovative STEM (Science, Technology, Engineering, and Mathematics) education. We provide hands-on projects, coding challenges, and engineering design tasks that promote problem-solving, creativity, and critical thinking. Join us as we build the future of learning.</p>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Company</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="{% url 'about' %}">About us</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
						<li><a href="{% url 'course_grid' %}">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">Advanced Coding</a></li>
						<li><a href="#">AI and Machine learning</a></li>
						<li><a href="#">Robotics</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">3D Modelling</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="footer-widget footer-contact mb-5 mb-lg-0">
					<h5 class="widget-title">Contact </h5>
					
					<ul class="list-unstyled">
						<li><i class="bi bi-headphone"></i>
							<div>
								<strong>Phone number</strong>
								(+254) 725717270
							</div>
							
						</li>
						<li> <i class="bi bi-envelop"></i>
							<div>
								<strong>Email Address</strong>
								georgerubinga@gmail.com
							</div>
						</li>
						<li><i class="bi bi-location-pointer"></i>
							<div>
								<strong>Office Address</strong>
								Nairobi, Kenya
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6">
					<div class="footer-logo">
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-center">
						<p>@ Copyright reserved to GeorgeAcademy.Proudly Crafted by GeorgeDesigns</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>


vcvvv    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.5 -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
    <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

    <!--  Owlk Carousel-->
    <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

  </body>
  </html>