{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="edutim, coaching, distant learning, education html, health coaching, kids education, language school, learning online html, live training, online courses, online training, remote training, school html theme, training, university html, virtual training">

  <meta name="author" content="themeturn.com">

  <title>GeorgeAcademy</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/bootstrap.css' %}">
<!-- Iconfont Css -->
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/bicon/css/bicon.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/themify/themify-icons.css' %}">
<!-- animate.css -->
<link rel="stylesheet" href="{% static 'assets/vendors/animate-css/animate.css' %}">
<!-- WooCommerce CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-layouts.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce-small-screen.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/woocommerce/woocommerce.css' %}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl/assets/owl.theme.default.min.css' %}">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body id="top-header">
 
<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-contact">
                        <li>
                            <span>Call :</span>
                           +254725717270
                        </li>
                        <li>
                            <span>Email :</span>
                            georgerubinga@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right float-right">
                        <div class="header-socials">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-btn">
                            <a href="#" class="btn btn-main btn-small"><i class="fa fa-user mr-2"></i>Login / Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <!-- Main Menu Start -->
   
    <div class="site-navigation main_menu " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand">
                    
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

              <!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'home' %}">
                    Home
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link js-scroll-trigger">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'course_grid' %}">
                   Our Main Courses
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'product_list' %}">
                    Shop List Filter
                </a>
                <a class="dropdown-item" href="{% url 'cart' %}">
                    Cart
                </a> 
                <a class="dropdown-item" href="{% url 'checkout' %}">
                    Checkout
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'login' %}">
                    Login
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog<i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar3">
                <a class="dropdown-item" href="{% url 'blog_single' %}">
                    Blog
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                Contact
            </a>
        </li>
    </ul>

    <ul class="header-contact-right d-none d-lg-block">
        <li><a href="{% url 'cart' %}" class="header-cart"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a href="#" class="header-search search_toggle"><i class="fa fa-search"></i></a></li>
    </ul>
</div>

            </div> <!-- / .container -->
        </nav>
    </div>
</header>

 <!--search overlay start-->
 <div class="search-wrap">
    <div class="overlay">
        <form action="" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <h3>Search Your keyword</h3>
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <img class="search-close" src="{% static 'assets/images/close.png' %}" srcset="assets/images/close@2x.png 2x" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->


<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="page-header-content">
            <h1>Shop</h1>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                  Shop List
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>


    <main class="site-main page-wrapper  woocommerce">
        <!--product section start-->
        <section class="space-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="section-title">
    <h2 class="title d-block text-left-sm">Academic Shopping</h2>
    <p class="woocommerce-result-count"> Showing 1–16 of 17 results</p>
    <form class="woocommerce-ordering float-lg-right" method="get">
        <select name="orderby" class="orderby form-control" aria-label="Shop order" >
            <option value="" selected="selected">Default sorting</option>
            <option value="">Sort by popularity</option>
            <option value="">Sort by average rating</option>
            <option value="">Sort by latest</option>
            <option value="">Sort by price: low to high</option>
            <option value="">Sort by price: high to low</option>
        </select>
        <input type="hidden" name="paged" value="1">
    </form>
</div>
                        <ul class="products columns-3">
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p1.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Arduino Starter Kit</a>
            </h2>
        </div>
        <span class="onsale">Sale!</span>
        <span class="price">
            <del>
                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">Ksh</span>
                    4500/=
                </span>
            </del>
            <ins>
                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">Ksh</span>
                    4200/=
                </span>
            </ins>
        </span>

        <div class="star-rating"></div>
    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p2.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Raspberry Pi 4 Model B</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 1800
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product last">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p3.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">3D Printer Kit</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 3800
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p4.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Robotics Kit for Beginners</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 6800
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p5.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Solar Energy Experiment Kit</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 9900
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product last">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p6.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Basic Electronics Toolkit</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 3300
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p7.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Micro
Starter Pack</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 4500
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p8.png' %}" alt="">
            </a>

            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
           
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">STEM Coding Robot</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 11500
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product last">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p9.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Snap Circuits Jr</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 6000
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p10.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">LEGO Education SPIKE Prime Set</a>
            </h2>
        </div>
        <span class="onsale">Sale!</span>
        <span class="price">
            <del>
                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">Ksh</span>
                    10500
                </span>
            </del>
            <ins>
                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    42.00
                </span>
            </ins>

        </span>
    <div class="star-rating"></div>

    </li>
    <li class="product">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p11.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Makey Makey Invention Kit</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 8000
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
    <li class="product last">
        <div class="product-wrap">
            <a href="#" class="">
                <img src="{% static 'assets/images/shop/p12.png' %}" alt="">
            </a>
            <div class="product-btn-wrap">
                <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                    <i class="fa fa-shopping-basket"></i>
                </a>
                <a href="#" class="button wish-list"><i class="fa fa-heart"></i></a>
            </div>
        </div>
        <div class="woocommerce-product-title-wrap">
            <h2 class="woocommerce-loop-product__title">
                <a href="#">Drone with Camera for STEM Projects</a>
            </h2>
        </div>
        <span class="price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh</span> 23500
            </span>
        </span>
        <div class="star-rating"></div>

    </li>
</ul>

                        <nav class="woocommerce-pagination">
                            <ul class="page-numbers">
                                <li><span aria-current="page" class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="{% url 'product_list' %}">2</a></li>
                                <li><a class="next page-numbers" href="{% url 'product_list' %}">→</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- product Sidebar start-->
<div class="col-lg-4 widget-area ">
    <section id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
        <form role="search" method="get" class="woocommerce-product-search"
              action="#">
            <label class="screen-reader-text" for="woocommerce-product-search-field-0">
                Search for:</label>
            <input type="search" id="woocommerce-product-search-field-0" class="search-field"
                   placeholder="Search products…" value="" name="s">
            <button type="submit" value="Search">Search</button>
            <input type="hidden" name="post_type" value="product">
        </form>
    </section>
    <section id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
        <h3 class="widget-title">Filter by product price</h3>
        <form method="get" action="#">
            <div class="price_slider_wrapper">
                <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                     
                    <div class="ui-slider-range ui-widget-header ui-corner-all"
                         style="left: 22.2222%; width: 44.4444%;"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                          style="left: 22.2222%;"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                          style="left: 66.6667%;"></span>
                </div>
                <div class="price_slider_amount" data-step="10">
                    <input type="text" id="min_price" name="min_price" value="0" data-min="0"
                           placeholder="Min price" style="display: none;">
                    <input type="text" id="max_price" name="max_price" value="90" data-max="90"
                           placeholder="Max price" style="display: none;">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label">
                        Price: <span class="from">Ksh&nbsp;500</span> — <span
                            class="to">Ksh&nbsp;50000</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </form>
    </section>
    <section id="woocommerce_layered_nav-2"
             class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav"><h3
            class="widget-title">Filter by</h3>
        <ul class="woocommerce-widget-layered-nav-list">
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term "><a rel="nofollow" href="#">Blue</a> <span class="count">(4)</span></li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term current-cat"><a rel="nofollow" href="#">Gray</a> <span class="count">(2)</span></li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term "><a rel="nofollow" href="#">Green</a> <span class="count">(3)</span></li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term "><a rel="nofollow" href="#">Red</a> <span class="count">(4)</span></li>
            <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term "><a rel="nofollow" href="#">Yellow</a> <span class="count">(1)</span></li>
        </ul>
    </section>
    <section id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
        <h3 class="widget-title">Product categories</h3>
        <ul class="product-categories nav flex-column">
            <li class="cat-item cat-item-17 cat-parent nav-item"><a href="#" class="nav-link">Robotics Kits</a>
                <ul class="children nav flex-column">
                    <li class="cat-item cat-item-20 nav-item current-cat"><a href="#" class="nav-link">Programming Kits</a></li>
                    <li class="cat-item cat-item-19 nav-item"><a href="#" class="nav-link">Electronics Kits</a></li>
                    <li class="cat-item cat-item-18 nav-item"><a href="#" class="nav-link">Science Lab Kits</a></li>
                </ul>
            </li>
            <li class="cat-item cat-item-22 nav-item"><a href="#" class="nav-link">Energy Kits</a></li>
            <li class="cat-item cat-item-21 nav-item"><a href="#" class="nav-link">Engineering Tools</a></li>
            <li class="cat-item cat-item-15 nav-item"><a href="#" class="nav-link">Others</a></li>
        </ul>
    </section>
    <section id="woocommerce_top_rated_products-2" class="widget woocommerce widget_top_rated_products">
        <h3 class="widget-title">Top rated products</h3>
        <ul class="product_list_widget">
            <li>
                <a href="#">
                    <img width="300" height="300" src="{% static 'assets/images/shop/p1.png' %}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="">
                    <span class="product-title">Robotics Kits</span>
                </a>

                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>1000</span> – <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>9000</span>
            </li>
            <li> <a href="#">
                    <img width="300" height="300" src="{% static 'assets/images/shop/p2.png' %}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="">
                    <span class="product-title">Programming Kits</span>
                </a>

                <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>5000</span>
            </li>
            <li>
                <a href="#">
                    <img width="300" height="300" src="{% static 'assets/images/shop/p3.png' %}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="">
                    <span class="product-title">Electronics Kits</span>
                </a>
                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>1000</span> – <span class="woocommerce-Price-amount amount"><span
                    class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>9000</span>
            </li>
            <li>
                <a href="#">
                    <img width="300" height="300" src="{% static 'assets/images/shop/p4.png' %}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="">
                    <span class="product-title">Energy Kits</span>
                </a>

                <del><span class="woocommerce-Price-amount amount"><span
                        class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>1500</span></del>
                <ins><span class="woocommerce-Price-amount amount"><span
                        class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>9500</span></ins>
            </li>
            <li>
                <a href="#">
                    <img width="300" height="300" src="{% static 'assets/images/shop/p5.png' %}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" >
                    <span class="product-title">Engineering Tools</span>
                </a>
                <span class="woocommerce-Price-amount amount"><span
                        class="woocommerce-Price-currencySymbol">Ksh&nbsp;</span>4500</span>
            </li>
        </ul>
    </section>
</div>
<!-- product section end-->
                </div>
            </div>
        </section>
        <!-- product section end-->


    </main>

<section class="cta-2">
    <div class="container">
        <div class="row align-items-center subscribe-section ">
            <div class="col-lg-6">
                <div class="section-heading white-text">
                    <span class="subheading">Newsletter</span>
                    <h3>Join our community of students</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <a href="#" class="btn btn-main">Subscribe<i class="fa fa-angle-right ml-2"></i> </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">About Us</h5>
					<p class="mt-3">GeorgeAcademy is dedicated to inspiring students through innovative STEM (Science, Technology, Engineering, and Mathematics) education. We provide hands-on projects, coding challenges, and engineering design tasks that promote problem-solving, creativity, and critical thinking. Join us as we build the future of learning.</p>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Company</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="{% url 'about' %}">About us</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
						<li><a href="{% url 'course_grid' %}">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 col-md-6">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">Advanced Coding</a></li>
						<li><a href="#">Robotics</a></li>
						<li><a href="#">AI and machine learning</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">3D Modelling</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="footer-widget footer-contact mb-5 mb-lg-0">
					<h5 class="widget-title">Contact </h5>
					
					<ul class="list-unstyled">
						<li><i class="bi bi-headphone"></i>
							<div>
								<strong>Phone number</strong>
								(+254) 725717270
							</div>
							
						</li>
						<li> <i class="bi bi-envelop"></i>
							<div>
								<strong>Email Address</strong>
								georgerubinga@gmail.com
							</div>
						</li>
						<li><i class="bi bi-location-pointer"></i>
							<div>
								<strong>Office Address</strong>
								Nairobi, Kenya
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6">
					<div class="footer-logo">
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-center">
						<p>@ Copyright reserved to GeorgeAcademy-.Proudly Crafted by GeorgeDesigns</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>



    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.5 -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
    <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>
    <!--  Owlk Carousel-->
    <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

  </body>
  </html>